body {
    background-size: 1920px 1080px;
    overflow: hidden;
}

.my-container {
    padding-top: 50px;
    margin-top: 0px;
    background-color: rgba(244,244,244,1);
    min-height: 1080px;
}

.grad-left {
    min-height: 1080px;
    background: -webkit-linear-gradient(left, rgba(244,244,244,0), rgba(244,244,244,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(244,244,244,0), rgba(244,244,244,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(244,244,244,0), rgba(244,244,244,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(244,244,244,0), rgba(244,244,244,1)); /* Standard syntax (must be last) */
}

.grad-right {
    min-height: 1080px;
    background: -webkit-linear-gradient(right, rgba(244,244,244,0), rgba(244,244,244,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgba(244,244,244,0), rgba(244,244,244,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgba(244,244,244,0), rgba(244,244,244,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, rgba(244,244,244,0), rgba(244,244,244,1)); /* Standard syntax (must be last) */
}